@model Crud.App.Domains.ItemsGroup

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ItemsGroup</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemsGroupCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemsGroupCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemsGroupName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemsGroupName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemsGroupNameEN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemsGroupNameEN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemsGroupNameRU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemsGroupNameRU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentItemsGroupCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentItemsGroupCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ItemsGroupID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
