@model Crud.App.Domains.Discount

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Discount</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.BussinessID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientGroup.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemGroup.ItemsGroupCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.ItemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountMultiplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountMultiplier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PricelictCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricelictCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DiscountID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
